<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/comments.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <h1 class="title">Comments</h1>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-comments">
          <form id="comments">
            <div class="mb-3">
              <label for="comment" class="form-label">Add a new comment</label>
              <textarea class="form-control" id="comment" rows="3"></textarea>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-comments">Submit</button>
            </div>
          </form>
        </div>
      </div>

      <div class="col">
        <div class="comments">
          <% for (let comment of comments) { %>
            <div id="card-comment">
              <div class="card mb-3">
                <div class="card-body">
                  <h4 class="card-title">
                    <%= comment.nome %>
                  </h4>
                  <p class="card-text">
                    <%= comment.comentario %>
                  </p>
                  <div class="d-flex justify-content-between">
                    <p class="card-text"><%= comment.data_entrada %></p>
                    <p class="card-text"><%= comment.horario %></p>
                  </div>
                  </div>
              </div>
            </div>
            <% } %>
        </div>
      </div>

    </div>
  </div>
  <script src="js/comments.js"></script>
</body>

</html>